body{
    margin: 0;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    align-items: center;
    
}

h2{
    padding-top: 10px;
    margin: 0;
    margin-right: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    color: brown;
    
}

ul{
    display: flex;
    margin-right: 192px;
    list-style: none;
}

a{
    color: black;
    transition: 0.5s;
    font-family: Arial;
    font-size: 15px;
}

a:hover{
    color: white;
}

li{
    padding: 26px;
    background-color: wheat;
    width: 60px;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

li:hover{
    background-color: brown;
}

main{
    width: 75%;
    height: 650px;
    background-color: white;
    display: flex;
}

section{
    height: 100%;
    width: 50%;
    background-color: white;
}

#main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h3{
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    color: brown;
    margin: 0;
    margin-top: 30px;
}

h4{
    font-family: Arial;
    padding: 10px;
    width: 75%;

}

#main-imagem{
    background-image: url(comida.jpeg);
    background-size: 50%;
}

button{
    padding: 10px;
    margin-bottom: 31px;
    width: 150px;
    transition: 0.5s;
    border: 2px solid brown;
    border-radius: 10px;
    background-color: wheat;
}

button:hover{
    width: 150px;
    background-color: brown;
    color: white;
    border: 2px solid brown;
}

img{
    height: 400px;
}