body, html{
    margin: 0;
    height: 110%;
    width: 100%;

    display: flex;
    flex-direction: column;

}

header{
    height: 80px;
    background-color: #aedb81;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    padding-left: 50px ;

    opacity: 100%;
    color: #6b9439;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-family: "Bungee", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

#title h2{
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

h1{
    margin: 0;
    font-family: "Liter";
}

ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    padding-right: 50px;
}

a{
    text-decoration: none;
    color: white;
}

button{
    width: 120px;
    height: 40px;
    font-size: 17px;
    background-color: #83866c;
    border: none;
}

button:hover{
    background-color: #a4ac86;
    cursor: pointer;
    color: #333d29;
    transition: background-color 0.5s;
}

main {
    padding: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

form label {
    font-family: "Arial";
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form textarea,
form input[type="file"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    height: 60px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
